@page "/"

<PageTitle>Blazing Trails</PageTitle>

@* <LifeCycleAsync/> *@

<TrailSearch/>

@if (_Trails == null)
{
    <p>Loading trails...</p>
}
else
{
    <TrailDetails Trail="_SelectedTrail" />

    <div class="grid">
        @foreach (var trail in _Trails)
        {
            <TrailCard Trail="trail" OnSelected="SelectedTrail => _SelectedTrail = SelectedTrail"/>
        }
    </div>
}

@code {
    private Trail? _SelectedTrail;
}