@page "/"

<PageTitle>Blazing Trails</PageTitle>

<LiveCycle/>

@if(_Trails == null)
{
    <p>Loading trails...</p>
}
else
{
    <div class="grid">
        @foreach (var trail in _Trails)
        {
            <TrailCard Trail="trail"/>
        }
    </div>
}