@inject NavigationManager NavManager

<div class="filters">
    <label for="MaxLength">Max Length</label>
    <input id="MaxLength"
           type="number"
           class="form-control"
           @bind="_MaxLength"/>

    <label for="MaxTime">Max Time (hours)</label>
    <input id="MaxTime"
           type="number"
           class="form-control"
           @bind="_MaxTime"/>

    <button class="btn btn-outline-primary"
            @onclick="FilterSearchResults">
        Filter
    </button>

    <button class="btn btn-outline-secondary"
            @onclick="ClearSearchFilter">
        Clear
    </button>
</div>

@code
{
    private int _MaxLength;
    private int _MaxTime;

    [Parameter] public int? MaxLength { get; set; }

    [Parameter] public int? MaxTime { get; set; }

    [Parameter, EditorRequired]
    public string SearchTerm { get; set; } = null!;

    protected override void OnInitialized()
    {
        _MaxLength = MaxLength ?? 0;
        _MaxTime = MaxTime ?? 0;
    }

    private void FilterSearchResults()
    {
        var uri_with_query_string = NavManager
            .GetUriWithQueryParameters(new Dictionary<string, object?>
            {
                [nameof(SearchPage.MaxLength)] = _MaxLength == 0 ? null : _MaxLength,
                [nameof(SearchPage.MaxTime)] = _MaxTime == 0 ? null : _MaxTime,
            });

        NavManager.NavigateTo(uri_with_query_string);
    }

    private void ClearSearchFilter()
    {
        _MaxLength = 0;
        _MaxTime = 0;
        NavManager.NavigateTo($"/search/{SearchTerm}");
    }
}
