@page "/add-trail"

<PageTitle>Add Trail - Blazing Trails</PageTitle>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add Trail</li>
    </ol>
</nav>

<h3 class="mt-5 mb-4">Add a trail</h3>

<EditForm Model="_Trail" OnValidSubmit="SubmitForm">
    <FormSection Title="Basic Details"
                 HelpText="This information is used to identify the trail and can be searched to help hikers find it">

        <FormFieldSet Width="col-6">
            <label for="trail-name" class="font-weight-bold text-secondary">Name</label>
            <InputText class="form-control" id="trail-name" @bind-Value="_Trail.Name" />
        </FormFieldSet>

        <FormFieldSet>
            <label for="trail-description" class="font-weight-bold text-secondary">Description</label>
            <InputTextArea class="form-control" id="trail-description" rows="6" @bind-Value="_Trail.Description" />
        </FormFieldSet>

        <FormFieldSet Width="col-6">
            <label for="trail-location" class="font-weight-bold text-secondary">Location</label>
            <InputText class="form-control" id="trail-location" @bind-Value="_Trail.Location" />
        </FormFieldSet>
      
    </FormSection>

    <div class="mt-4 mb-5">
        <div class="row">
            <div class="offset-4 col-8 d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-outline-secondary"
                        type="button"
                        @onclick="@(() => _Trail = new())">
                    Reset
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code 
{
    private TrailDTO _Trail = new();

    private async Task SubmitForm()
    {
        
    }
}